<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.nodejs">

  <uses-permission android:name="android.permission.INTERNET" />

  <application android:name=".MainApplication"
    android:usesCleartextTraffic="true"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="false"
    android:theme="@style/AppTheme">
    <!-- android:launchMode="singleTask" fixes a bug where our React app would
         never unmount and instead kept remounting new instances -->
    <!-- maybe add android:largeHeap="true" if we keep getting out of memory
         issues see https://developer.android.com/topic/performance/memory -->
    <activity android:name=".MainActivity"
      android:label="@string/app_name"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
      android:launchMode="singleTask"
      android:largeHeap="true"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    <provider android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.provider"
      android:grantUriPermissions="true"
      android:exported="false">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/filepaths" />
    </provider>
  </application>

</manifest>
